/* Write your CSS here */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.notFoundContentContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .notFoundContentContainer {
    align-items: flex-start;
    margin-top: 60px;
  }
}

.notFoundResponsiveContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .notFoundResponsiveContainer {
    margin-top: 60px;
  }
}

.image {
  width: 330px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 475px;
  }
}

.heading {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-weight: 500;
    font-size: 35px;
  }
}

.description {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .description {
    text-align: center;
    font-size: 12px;
    width: 240px;
    margin-top: 5px;
  }
}
